// ButtonBase does not have appearance settings including default color, padding, outline, and border
.btn-base {
    background: transparent;
    border: none;
    color: inherit;
    outline: 0;
    padding: 0;

    cursor: pointer;
    &.disabled,
    &:disabled {
        cursor: default;
    }
}
